//Include .sass files contains styles of page section
//Подключение стилей секций страницы

@import fonts
@import color
@import main
@import about
@import service

*
  box-sizing: border-box
body

  margin: 0
  width: 100%
  height: 100%
  font:
    family: Tavolga, sans-serif

a
  text-decoration: none
  color: $main

.menu a
  &:hover
    color: $highlight

header
  display: flex
  justify-content: space-between
  align-items: center
  color: $main


.container
  max-width: 1230px
  margin: auto

.main-menu
    list-style: none
    display: flex
    &-item
       padding-right: 10px
.text
  text-transform: uppercase

.phone
  font:
    size: $phone
    weight: bold



.title
  font:
    size: 3em
    weight: bold
  color: $main
  padding: 20px 0

.description
    font:
      family: Tahoma,sans-serif
      size: 0.8em
    text-align: left
    line-height: 1.6

.subtitle
  color: $highlight
  padding-right: 20px


.button
    display: inline-block
    background-color: $highlight
    border-radius: 30px
    color: $inverse
    padding: 12px 40px
    margin-top: 20px
    font:
      size: 1rem
      weight: normal



.hlight
  color: $highlight
.inverse
  color: $inverse

.lines
  display: flex
  align-items: center

.line
  min-width: 50px
  height: 2px
  //border-bottom: 2px solid $highlight
  border: none
  //color: $highlight
  background-color: $highlight

.qestion
  text-align: center
  padding: 80px 0
  background: url('../img/qestion_bg.jpg') rgba(255,255,255,0.5)
  background-blend-mode: color

section
  &.objection
    background: $main url(../img/objection-img.jpg) center right no-repeat

.content
  width: 50%
  padding: 80px 0

.reasons
  display: flex

.objection
    &-items
      max-width: 420px
      margin-top: 30px
      padding-right: 10px
section
  &.news
    padding: 80px 0
.news
  &-items
    display: flex
  &-item
    padding: 30px


section
  &.feedback
    background: url('../img/feedback_bg.jpg') 0 0 no-repeat
    background-size: cover
    padding: 80px 0
.section
  &-feedback
    display: flex
.feedback-content
  padding-left: 40px

input, textarea
  width: 300px
  display: block
  margin: 15px 0
  padding: 10px 20px
  font:
    size: 13px
    family: Tahoma, sans-serif

button
  border: none
.empty
  min-width: 50%
  //min-height: 100px
  //background-color: lighten(aqua,20%)
footer
  background-color: $footer
  margin-top: 80px
  padding-top: 40px

.footer
  &-columns
    display: flex

.column
  flex-basis: 25%
  font:
    family: Tahoma, sans-serif
    size: 0.8em

.footer-nav

.copywrite
  margin-top: 40px
  background-color: darken($footer, 5%)
  padding: 10px 0px
  font:
    family: Tahoma, sans-serif
    size: 0.8em
.left
  text-align: left
  float: left
.right
   text-align: right

